* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: block;
}
.section-1 {
  background-image: url("images/mainbackground.jpg");
  width: 100%;
  height: 50%;
}
.section-2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
